[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = master
[submodule "ffmpeg"]
	path = src/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	branch = release/7.1
